{% doc %}
  Renders a navbar dropdown.

  @param {link} link - Navigation link from a link_list menu.

  @example
  {% render '_navbar-dropdown', link: link %}
{% enddoc %}

<div
  class="b-navbar-item"
  x-data="{ dropdownOpen: false }"
  :class="dropdownOpen ? 'b-is-active' : ''"
  @mouseenter="dropdownOpen = true"
  @mouseleave="dropdownOpen = false"
  role="button"
  aria-label="dropdown"
  :aria-expanded="dropdownOpen"
>
  <div class="b-dropdown-trigger">
    <a class="b-button b-is-text" href="{{ link.url }}">
      <span>
        <h2 class="b-title b-is-size-3 b-is-size-6-desktop b-has-text-white">
          {{- link.title -}}
        </h2>
      </span>
    </a>
  </div>
  <!-- end b-dropdown-trigger -->
  <div class="b-dropdown-menu c-dropdown-menu b-has-background-black b-is-relative">
    <div class="b-dropdown-content b-has-background-black">
      {% for child_link in link.links %}
        <a class="b-dropdown-item" href="{{ child_link.url }}">
          <h3 class="b-title b-is-size-5 b-has-text-white b-has-background-black">
            {{ child_link.title }}
          </h3>
        </a>
      {% endfor %}
    </div>
  </div>
  <!-- end b-dropdown-menu -->
</div>
<!-- end b-dropdown -->

{% style %}
  .b-dropdown-trigger {
    position: relative; !important;
  }
    .c-dropdown-menu {
      position: absolute; !important;
      top: 5rem; !important;
      left: 0; !important;
      width: 100%; !important;
    }
{% endstyle %}
