{% doc %}
  Renders a navbar dropdown.

  @param {link} link - Navigation link from a link_list menu.

  @example
  {% render '_navbar-dropdown', link: link %}
{% enddoc %}

<div
  class="b-navbar-item b-has-dropdown"
  x-data="{ dropdownOpen: false }"
  :class="dropdownOpen ? 'b-is-active' : ''"
  @mouseenter="if (!$store.screenSize.small) dropdownOpen = true"
  @mouseleave="if (!$store.screenSize.small) dropdownOpen = false"
  :aria-expanded="dropdownOpen"
>
  <a
    class="b-navbar-link"
    href="{{ link.url }}"
    @click.prevent="if ($store.screenSize.small) dropdownOpen = !dropdownOpen"
  >
    <p class="b-title b-is-size-3 b-is-size-6-desktop b-has-text-white">
      {{- link.title -}}
    </p>
  </a>
  <div class="b-navbar-dropdown" :class="!$store.screenSize.small ? 'l-overlay-background-color' : ''">
    {% for child_link in link.links %}
      <a class="b-navbar-item b-has-text-white" href="{{ child_link.url }}">
        <p class="b-title b-is-size-4 b-is-size-5-desktop b-has-text-white b-ml-2">
          {{ child_link.title }}
        </p>
      </a>
    {% endfor %}
  </div>
</div>

{% stylesheet %}
  .b-navbar-item.b-has-dropdown {
    position: relative;
  }

  .b-navbar-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    z-index: 20;
    display: none;
  }

  .b-navbar-item.b-is-active .b-navbar-dropdown {
    display: block;
  }

  .b-navbar-dropdown .b-navbar-item {
    color: hsl(0, 0%, 100%);
    padding: 0.375rem 1rem;
    white-space: nowrap;
    display: block;
  }

  .b-navbar-dropdown .b-navbar-item:hover {
    color: hsl(0, 0%, 100%);
  }

  @media screen and (max-width: 1151px) {
    .b-navbar-item.b-has-dropdown {
      position: relative;
    }

    .b-navbar-dropdown {
      position: static;
      width: 100%;
      box-shadow: none;
      border-radius: 0;
    }
  }
{% endstylesheet %}
