{% doc %}
  Renders a navbar dropdown.

  @param {link} link - Navigation link from a link_list menu.

  @example
  {% render '_navbar-dropdown', link: link %}
{% enddoc %}

<div
  class="b-navbar-item b-has-dropdown"
  x-data="{ dropdownOpen: false }"
  :class="dropdownOpen ? 'b-is-active' : ''"
  @mouseenter="if (!$store.screen.small) dropdownOpen = true"
  @mouseleave="if (!$store.screen.small) dropdownOpen = false"
  :aria-expanded="dropdownOpen"
>
  <a
    class="b-navbar-link"
    href="{{ link.url }}"
    @click.prevent="if ($store.screen.small) dropdownOpen = !dropdownOpen"
  >
    <h2 class="b-title b-is-size-3 b-is-size-6-desktop b-has-text-white">
      {{- link.title -}}
    </h2>
  </a>
  <div class="b-navbar-dropdown">
    {% for child_link in link.links %}
      <a class="b-navbar-item" href="{{ child_link.url }}">
        {{ child_link.title }}
      </a>
    {% endfor %}
  </div>
</div>

{% stylesheet %}
  .b-navbar-item.b-has-dropdown {
    position: relative;
  }

  .b-navbar-dropdown {
    background-color: hsl(0, 0%, 4%);
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    z-index: 20;
    display: none;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.1);
  }

  .b-navbar-item.b-is-active .b-navbar-dropdown {
    display: block;
  }

  .b-navbar-dropdown .b-navbar-item {
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 4%);
    padding: 0.375rem 1rem;
    white-space: nowrap;
    display: block;
  }

  .b-navbar-dropdown .b-navbar-item:hover {
    background-color: hsl(0, 0%, 14%);
    color: hsl(0, 0%, 100%);
  }

  @media screen and (max-width: 1023px) {
    .b-navbar-item.b-has-dropdown {
      position: relative;
    }

    .b-navbar-dropdown {
      position: static;
      width: 100%;
      box-shadow: none;
      border-radius: 0;
    }
  }
{% endstylesheet %}
