<div class="b-level b-is-mobile">
  <div class="b-level-item b-has-text-centered">
    {% if shop.customer_accounts_enabled %}
      <shopify-account menu="{{ section.settings.customer_account_menu }}">
        <div
          slot="signed-out-avatar"
          role="button"
          aria-label="{{ 'general.accessibility.account' | t }}"
        >
          <span
            class="b-icon b-has-text-white"
          >
            {%- render 'icon-person' -%}
          </span>
        </div>
      </shopify-account>
    {% endif %}
  </div>

  <div class="b-level-item b-has-text-centered">
    <button class="b-button b-is-ghost" href="{{ routes.cart_url }}">
      <span
        class="b-icon b-has-text-white b-my-auto b-is-medium"
        role="button"
      >
        <i>
          {%- render 'icon-shopping-cart' -%}
        </i>
        {% if cart.item_count > 0 %}
          <sup>x{{ cart.item_count }}</sup>
        {% endif %}
      </span>
    </button>
  </div>
</div>
