<div
  class="b-modal"
  id="modal-container"
  x-data
  x-cloak
  :class="$store.modal.isOpen ? 'b-is-active' : ''"
>
  <div class="b-modal-background"></div>

  <div class="b-modal-content">
    <div class="b-container b-is-fluid b-has-background-white">
      <p>Modal example</p>
      <button @click="$store.modal.close()" class="b-button b-is-primary">Close</button>
    </div>
  </div>

  <button class="b-modal-close b-is-large" aria-label="close" @click="$store.modal.close()">Close</button>
</div>
