<div class="b-card b-is-horizontal" x-data="cardHorizontal">
  <div class="b-card-image">
    <figure class="b-image b-is-4by3">
      <img src="https://bulma.io/assets/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="b-card-content">
    <div class="b-media">
      <div class="b-media-content">
        <p class="b-title b-is-4">John Smith</p>
        <p class="b-subtitle b-is-6">@johnsmith</p>
      </div>
    </div>

    <div class="b-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris. <a>@bulmaio</a>.
      <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
      <button class="b-button b-is-primary" @click="toggle()" x-text="label"></button>
    </div>
  </div>
</div>
