{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

{% assign header_content = collection.metafields['app--6007307--sanity-fields'].header.value %}
{% if header_content %}
  {% render '_collection-hero-collapsable-content',
    header_content: header_content,
    hero_image: section.settings.hero_image
  %}
{% endif %}

<div class="collection-products">
  {% paginate collection.products by 20 %}
    {% for product in collection.products %}
      <div class="collection-product">
        {% if product.featured_image %}
          {% render 'image',
            class: 'collection-product__image',
            image: product.featured_image,
            url: product.url,
            width: 400,
            height: 400,
            crop: 'center'
          %}
        {% endif %}
        <div class="collection-product__content">
          <p>{{ product.title | escape | link_to: product.url }}</p>
          <p>{{ product.price | money }}</p>
        </div>
      </div>
    {% endfor %}

    {{ paginate | default_pagination }}
  {% endpaginate %}
</div>

{% liquid
  assign after_page_content = collection.metafields['app--6007307--sanity-fields'].afterPageContent.value.body
  capture sanity_locale
    render '_filter-locale'
  endcapture
  assign sanity_locale = sanity_locale | strip
%}

{% if after_page_content != blank %}
  <div class="b-content">
    {% render '_sanity-portable-text', items: after_page_content, key_prefix: 'body', locale: sanity_locale %}
  </div>
{% endif %}
{% stylesheet %}
  .collection-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.collection",
  "settings": [
    {
      "type": "header",
      "content": "Collection Content"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    }
  ]
}
{% endschema %}
