{{ section.shopify_attributes }}
<div class="b-container b-is-fullhd">
  {% render 'section-heading', title: section.settings.title, subtitle: section.settings.subtitle %}

  <div class="b-columns">
    {% content_for 'blocks' %}
  </div>
</div>

{% schema %}
{
  "name": "t:general.columns",
  "tag": "section",
  "class": "b-section",
  "max_blocks": 6,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Section's Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Section's Subtitle"
    }
  ],
  "blocks": [{ "type": "column" }],
  "presets": [
    {
      "name": "Columns"
    }
  ]
}
{% endschema %}
