
<section class="b-hero b-is-primary">
  <div class="b-hero-body">
    <p class="b-title">Primary hero</p>
    <p class="b-subtitle">Primary subtitle</p>
  </div>
</section>


{% schema %}
{
  "name": "Hello World",
  "settings": [],
  "presets": [
    {
      "name": "Hello World Template",
      "category": "Demo"
    }
  ]
}
{% endschema %}
