@charset "utf-8";

// Import the Google Font


$plt-purple: hsl(268, 41%, 33%);
$plt-pink: hsl(346, 89%, 61%);
$plt-teal: hsl(190, 84%, 29%);
$plt-gray-light: hsl(0, 0%, 96%);
$plt-gray: hsl(0, 0%, 93%);
$plt-gray-dark: hsl(108, 6%, 34%);
$plt-family-primary: '"Roboto Condensed", "Inter", "SF Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif';
$plt-family-secondary: '"Inter", "SF Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif';
$plt-image-dimensions: 75 100 150 320 400 460 520;

// Override global Sass variables from the /utilities folder
@use "sass/utilities/initial-variables" with (
    $primary: $plt-purple,
    $info: $plt-teal,
    $light: $plt-gray-light,
    $dark: $plt-gray-dark,
    $link: $plt-pink,
    $background: $plt-gray-light,
    $grey-light: $plt-gray-light,
    $grey: $plt-gray,
    $grey-dark: $plt-gray-dark,
    $family-sans-serif-primary: $plt-family-primary,
    $family-sans-serif-secondary: $plt-family-secondary,
    $dimensions: $plt-image-dimensions,
    $section-padding: 3rem .25rem,

);

@forward "sass/utilities/functions";
@forward "sass/utilities/derived-variables";
@forward "sass/utilities/controls";
@forward "sass/base";
@forward "sass/elements";
@forward "sass/form";
@forward "sass/components";
@forward "sass/grid";
@forward "sass/layout";
@forward "sass/helpers";
@forward "sass/custom";

@forward "sass/themes";

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');